<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Безопасность операционных систем</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <h1 class="title">Безопасность операционных систем</h1>
    </header>
    <div class="menu">
        <ul>
            <li><a href="/">🏠Главная</a></li>
            <li><a href="/results">📈Результаты</a></li>
            <li><a href="/admin">🔧Администрирование</a></li>
            <li><a href="/logout">🚪Выйти</a></li>
        </ul>
    </div>
    <div class="content" align="center">
      <div class="new-tasks">
        {% for task in tasks %}
          <div class="new-task">
            <div class="task-content">
              <h2 class="task-title">{{ task.title }}</h2>
              {% if task.admin_html %}
                {{ task.admin_html|safe }}
              {% else %}
                <span>По данному таску нет администрационных функций</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</body>
</html>